footer {
    padding: 3rem 2rem;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--light-accent-color);
    font-size: clamp(.9rem, .5rem + 2vw, 1.1rem);
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px var(--dark-accent-color);
    background-image: linear-gradient(var(--primary-color), 70%, var(--dark-accent-color));
}

footer a {
    outline: none;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--light-accent-color);
    padding: .9rem 1rem;
    border-radius: 10px;
    box-shadow: 2px 3px 5px -1px var(--dark-accent-color);

    will-change: all;
    transition: all .1s ease-in-out;
}

footer a:hover, footer a:focus {
    background-color: var(--light-accent-color);
    color: var(--primary-color);
    box-shadow: none;
}