header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 2rem 1rem 1rem 1rem;
    gap: 2rem;
}

.header-backing {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: var(--primary-color);
    /* background-image: linear-gradient(var(--primary-color), var(--dark-accent-color)); */
    transform: skewY(-1.4deg);
    box-shadow: 0px 5px 6px -1px var(--dark-accent-color);
}

.header-title {
    font-size: clamp(1.3rem, .5rem + 2vw, 1.9rem);
    color: var(--secondary-color);
    font-family: "Stalinist One", "roboto", sans-serif;
    font-weight: normal;
    z-index: 1;
    text-shadow: 0px 0px 5px var(--dark-accent-color);
}

.header-patch {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 20%;
}

.header-nav {
    z-index: 1;
    align-self: end;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    margin-right: 3rem;
}

.header-nav a {
    text-decoration: none;
    font-weight: bold;
    display: flex;
    color: var(--dark-accent-color);
    align-items: center;
    --filter: var(--dark-accent-img-filter);
    outline: none
}

.header-nav a img {
    width: 25px;
    filter: var(--filter);
}

.header-nav a:hover, .header-nav a:focus {
    text-decoration: underline;
}



@media only screen and (width <= 400px) {
    .header-nav {
        margin-right: 0;
        align-self: center;
    }
}

@media only screen and (366px <= width <= 830px) {
    .header-nav a {
        color: var(--secondary-color);
        --filter: var(--secondary-img-filter);
    }
}