.portfolio-page {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 4rem;
}

.portfolio-page-title {
    font-size: clamp(1.2rem, .5rem + 2vw, 2rem);
    color: var(--primary-color);
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}