.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.main-info-section {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 1rem;
}

.main-info-section.reverse {
    flex-direction: row-reverse;
}

.project-title {
    font-size: clamp(1.4rem, .5rem + 2vw, 2rem);
    color: var(--primary-color);
    text-shadow: 0px 0px 2px var(--dark-accent-color);
    /* font-family: "Stalinist One";
    font-weight: normal; */
    letter-spacing: .12rem;
}

.project-img-wrapper {
    z-index: 1;
    margin: 0 1rem;
    max-width: 750px;
    overflow: hidden;
    border-radius: 30px;
    border: 3px solid var(--secondary-color);
    display: flex;
    box-shadow: 0px 0px 5px 0px var(--dark-accent-color);
}

.project-img-wrapper img {
    width: 100%;
    
}

.project-description {
    position: relative;
    font-size: clamp(1rem, .5rem + 2vw, 1.6rem);
    /* font-size: clamp(1rem, .5rem + 2vw, 1.5rem); */
    max-width: 600px;
    color: var(--light-accent-color);
    background-color: var(--primary-color);
    background-image: linear-gradient(var(--primary-color), 70%, var(--dark-accent-color));
    display: flex;
    align-items: center;
    padding: clamp(2rem, 1rem + 3vw, 4rem) 2rem;
    font-weight: bold;
    border-radius: 30px;
}

.project-description p {
    z-index: 1;
    position: relative;
}

.project-description .backing {
    position: absolute;
    top: 0;
    height: 100%;
    width: 150%;
    left: -50%;
    background-color: var(--primary-color);
    background-image: linear-gradient(var(--primary-color), 70%, var(--dark-accent-color));
    box-shadow: 0px 0px 5px 0px var(--dark-accent-color);
    border-radius: 30px;
}

.project-description .backing.reverse {
    left: 0;
}

.details-section {
    display: flex;
    width: 100%;
    gap: 1rem;
    padding: 0 1rem;
}

.details-section.reverse {
    flex-direction: row-reverse;
}

.details-section > * {
    flex: 1;
}

.project-tech-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.project-links {
    display: flex;
    gap: 1rem;
}

.project-links a {
    display: block;
    width: clamp(26px, 16px + 2vw, 45px);
    height: clamp(26px, 16px + 2vw, 45px);
    outline-color: var(--secondary-color);
}

.project-links a img {
    filter: var(--dark-accent-img-filter);
}

.project-links a:hover img, .project-links a:focus img {
    filter: var(--secondary-img-filter);
}

.tech-used {
    width: 100%;
    max-width: 850px;
    min-width: 250px;
    background-color: var(--primary-color);
    background-image: linear-gradient(var(--primary-color), 70%, var(--dark-accent-color));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    color: var(--light-accent-color);
    font-weight: bold;
    position: relative;
    border-radius: 30px;
}

.tech-used-title {
    font-size: clamp(1.3rem, .5rem + 2vw, 2rem);
    text-shadow: 2px 3px 1px var(--dark-accent-color);
    z-index: 1;
}

.tech-used ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    z-index: 1;
}

.tech-used li {
    font-size: clamp(1rem, .5rem + 2vw, 1.5rem);
}

.tech-used .backing {
    position: absolute;
    border-radius: 30px 0 0 30px;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    background-color: var(--primary-color);
    background-image: linear-gradient(var(--primary-color), 70%, var(--dark-accent-color));
}

.tech-used .backing.reverse {
    left: -20%;
    width: 70%;
}

.project-details {
    background-color: var(--secondary-color);
    color: var(--dark-accent-color);
    color: var(--light-accent-color);
    text-shadow: 0px 0px 4px var(--dark-accent-color);
    font-size: clamp(1rem, .5rem + 2vw, 1.4rem);
    /* font-size: clamp(1rem, .5rem + 2vw, 1.5rem); */
    font-weight: bold;
    max-width: 700px;
    padding: 2rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px 0px var(--dark-accent-color);
    line-height: 2rem;
    border-radius: 30px;
    z-index: 2;
}



@media only screen and (width < 1414px) {
    .project-description .backing {
        display: none;
    }

    .project-description {
        box-shadow: 0px 0px 5px 0px var(--dark-accent-color);
    }
}



@media only screen and (width < 701px) {
    .details-section, .details-section.reverse {
        flex-direction: column;
    }

    .tech-used .backing {
        display: none;
    }

    .tech-used {
        box-shadow: 0px 0px 5px 0px var(--dark-accent-color);
    }
}