.tool-tip-wrapper {
    position: relative;
}

.tool-tip {
    position: absolute;
    width: max-content;
    bottom: 101%;
    background-color: white;
    font-size: .8rem;
    padding: .2rem .3rem;
    box-shadow: 0px 0px 1px var(--dark-accent-color);
    left: 0;
    right: 0;
    margin: auto;
    visibility: hidden;
}

.tool-tip-wrapper:hover .tool-tip {
    visibility: visible;

    animation-name: delay-visible;
    animation-delay: .5s;
    animation-fill-mode: backwards;
    animation-duration: .2s;

}



@keyframes delay-visible {
    0% {visibility: hidden;}
    100% {visibility: visible;}
}