#root {
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	/* background-color: var(--light-accent-color); */
	/* background-image: url("./assets/wall2.jpg"); */
	/* background-size: cover; */
	position: relative;
}

.background{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--light-accent-color);
	background-image: url("./assets/backgroundImage.jpg");
	z-index: -1;
	background-size: cover;
}